/* Reset Style */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img{
    max-width: 100%;
}

/* common button */
.common-btn{
    background-color: blueviolet;
    font-weight: bold;
    padding: 6px 20px;
    border: none;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

.outline-btn{
    background-color: aliceblue;
    font-weight: bold;
    padding: 6px 20px;
    border: none;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    max-width: 1100px;
    margin: auto;
}

/* nav ber */
nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.logo{
    font-weight: bold;
    font-size: 30px;
}

.logo-h{
    color: blueviolet;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

/* my img  */

.me{
    width: 584;
    height: 676;
}

/* Hero Section */
.hero-parent-root{
    background-color: rgb(247, 238, 255);
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hero-left h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 12px;
}

.hero-left-p1{
    font-size: 20px;
    font-weight: 600;
}

.hero-left-btn-parent{
    margin-top: 12px;
}

.about-me{
    background-color: rgb(247, 238, 255);
    margin: 70px auto;
    border-radius: 10px;
    padding: 120px;
    text-align: center;
    height: 300px;
}

.about-me p{
    margin: 10px 0;
}

.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}


.about-box-parent .box{
    background-color: rgb(212, 190, 234);
    padding: 10px;
    border-radius: 5px;
}


/* What I do Section */

.what-do-parent{
    text-align: center;
    margin: 60px auto;
}

.what-do-container{
    margin-top: 30px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
}

.what-do-container .what-do-card{
    border-radius: 10px;
    border: 2px solid blueviolet;
    padding: 8px;
    text-align: left;
}

.what-do-container .what-do-card h2{
    margin: 10px 0;
}
.what-do-container .what-do-card p{
    color: #757575;
    font-size: 15px;
}


/* My Resume Section */
.my-resume-parent{
    text-align: center;
    background-color: rgb(247, 238, 255);

}

.my-resume-container{
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    gap: 70px;
}

.my-resume-summary{
    padding-top: 70px;
}

.my-resume-container .my-resume-container-left, .my-resume-container-right{
    padding: 8px;
    text-align: left;
}

.my-resume-edu, .my-resume-ex{
    margin-bottom: 30px;
    color: #474747;
    font-weight: bold;
}

.my-resume-h3{
    margin-bottom: 10px;
    color: #474747;
}

.my-resume-p{
    color: #474747;
    margin: 20px auto;
    font-weight: 600;
}

.my-resume-write{
    margin: 25px auto;
    color: #575757;
}

.download-btn{
    margin-bottom: 40px;
    margin-top: 10px;
}


/*  My Amazing Works Section */
.my-work-parent{
    text-align: center;
}

.my-work-parent h2{
    margin: 50px auto;
}

.gallery{
    margin-top: 20px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 230px;
    grid-template-areas: 
    "two one four"
    "three one five"
    "three six five";
    
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-1{
    grid-area: one;
}

.box-2{
    grid-area: two;
}

.box-3{
    grid-area: three;
}

.box-4{
    grid-area: four;
}

.box-5{
    grid-area: five;
}

.box-6{
    grid-area: six;
}


/* footer section */

footer{
    text-align: center;
    margin: 70px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    background-color:  rgb(247, 238, 255);
    padding: 20px;
    border-radius: 10px;
}

footer form{
    padding: 20px;
}

.footer-left p{
    margin: 10px 0;
    text-align: left;
}

footer form input,
footer form textarea{
    background-color: white;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-bottom: 8px;
}